In [12]:
import dbnomics
import pandas as pd

# Fetch series with a filter for Chinese data
df = dbnomics.fetch_series(provider_code='Eurostat', dataset_code='migr_imm1ctz', dimensions={'citizen': ['CN']}, max_nb_series=2_000_000)

# Convert the data to a pandas DataFrame for easier manipulation
df = pd.DataFrame(df)

# Display the first few rows of the DataFrame
print(df.head())

  @frequency provider_code  dataset_code  \
0     annual      Eurostat  migr_imm1ctz
1     annual      Eurostat  migr_imm1ctz
2     annual      Eurostat  migr_imm1ctz
3     annual      Eurostat  migr_imm1ctz
4     annual      Eurostat  migr_imm1ctz

                                    dataset_name                 series_code  \
0  Immigration by age group, sex and citizenship  A.CN.COMPLET.TOTAL.NR.F.AT
1  Immigration by age group, sex and citizenship  A.CN.COMPLET.TOTAL.NR.F.AT
2  Immigration by age group, sex and citizenship  A.CN.COMPLET.TOTAL.NR.F.AT
3  Immigration by age group, sex and citizenship  A.CN.COMPLET.TOTAL.NR.F.AT
4  Immigration by age group, sex and citizenship  A.CN.COMPLET.TOTAL.NR.F.AT

                                         series_name original_period  \
0  Annual – China – Age in completed years – Tota...            2002
1  Annual – China – Age in completed years – Tota...            2003
2  Annual – China – Age in completed years – Tota...            2004
3  Annual – China – Age in completed years – Tota...            2005
4  Annual – China – Age in completed years – Tota...            2006

      period original_value   value  ... unit sex geo Time frequency  \
0 2002-01-01         1182.0  1182.0  ...   NR   F  AT         Annual
1 2003-01-01         1155.0  1155.0  ...   NR   F  AT         Annual
2 2004-01-01         1052.0  1052.0  ...   NR   F  AT         Annual
3 2005-01-01          827.0   827.0  ...   NR   F  AT         Annual
4 2006-01-01          639.0   639.0  ...   NR   F  AT         Annual

  Country of citizenship          Age definition Age class Unit of measure  \
0                  China  Age in completed years     Total          Number
1                  China  Age in completed years     Total          Number
2                  China  Age in completed years     Total          Number
3                  China  Age in completed years     Total          Number
4                  China  Age in completed years     Total          Number

       Sex Geopolitical entity (reporting)
0  Females                         Austria
1  Females                         Austria
2  Females                         Austria
3  Females                         Austria
4  Females                         Austria

[5 rows x 24 columns]

In [13]:
df

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,...,unit,sex,geo,Time frequency,Country of citizenship,Age definition,Age class,Unit of measure,Sex,Geopolitical entity (reporting)
0,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.F.AT,Annual – China – Age in completed years – Tota...,2002,2002-01-01,1182.0,1182.0,...,NR,F,AT,Annual,China,Age in completed years,Total,Number,Females,Austria
1,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.F.AT,Annual – China – Age in completed years – Tota...,2003,2003-01-01,1155.0,1155.0,...,NR,F,AT,Annual,China,Age in completed years,Total,Number,Females,Austria
2,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.F.AT,Annual – China – Age in completed years – Tota...,2004,2004-01-01,1052.0,1052.0,...,NR,F,AT,Annual,China,Age in completed years,Total,Number,Females,Austria
3,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.F.AT,Annual – China – Age in completed years – Tota...,2005,2005-01-01,827.0,827.0,...,NR,F,AT,Annual,China,Age in completed years,Total,Number,Females,Austria
4,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.F.AT,Annual – China – Age in completed years – Tota...,2006,2006-01-01,639.0,639.0,...,NR,F,AT,Annual,China,Age in completed years,Total,Number,Females,Austria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.SK,Annual – China – Age reached during the year –...,2019,2019-01-01,0.0,0.0,...,NR,T,SK,Annual,China,Age reached during the year,Less than 5 years,Number,Total,Slovakia
7,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.SK,Annual – China – Age reached during the year –...,2020,2020-01-01,0.0,0.0,...,NR,T,SK,Annual,China,Age reached during the year,Less than 5 years,Number,Total,Slovakia
8,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.SK,Annual – China – Age reached during the year –...,2021,2021-01-01,0.0,0.0,...,NR,T,SK,Annual,China,Age reached during the year,Less than 5 years,Number,Total,Slovakia
9,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.SK,Annual – China – Age reached during the year –...,2022,2022-01-01,0.0,0.0,...,NR,T,SK,Annual,China,Age reached during the year,Less than 5 years,Number,Total,Slovakia
0,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.US,Annual – China – Age reached during the year –...,2004,2004-01-01,7474.0,7474.0,...,NR,T,US,Annual,China,Age reached during the year,Less than 5 years,Number,Total,United States

In [17]:
total = df[df["sex"] == "T"]
total

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,...,unit,sex,geo,Time frequency,Country of citizenship,Age definition,Age class,Unit of measure,Sex,Geopolitical entity (reporting)
0,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.T.AT,Annual – China – Age in completed years – Tota...,2002,2002-01-01,2208.0,2208.0,...,NR,T,AT,Annual,China,Age in completed years,Total,Number,Total,Austria
1,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.T.AT,Annual – China – Age in completed years – Tota...,2003,2003-01-01,2263.0,2263.0,...,NR,T,AT,Annual,China,Age in completed years,Total,Number,Total,Austria
2,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.T.AT,Annual – China – Age in completed years – Tota...,2004,2004-01-01,2025.0,2025.0,...,NR,T,AT,Annual,China,Age in completed years,Total,Number,Total,Austria
3,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.T.AT,Annual – China – Age in completed years – Tota...,2005,2005-01-01,1674.0,1674.0,...,NR,T,AT,Annual,China,Age in completed years,Total,Number,Total,Austria
4,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.T.AT,Annual – China – Age in completed years – Tota...,2006,2006-01-01,1222.0,1222.0,...,NR,T,AT,Annual,China,Age in completed years,Total,Number,Total,Austria
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.SK,Annual – China – Age reached during the year –...,2019,2019-01-01,0.0,0.0,...,NR,T,SK,Annual,China,Age reached during the year,Less than 5 years,Number,Total,Slovakia
7,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.SK,Annual – China – Age reached during the year –...,2020,2020-01-01,0.0,0.0,...,NR,T,SK,Annual,China,Age reached during the year,Less than 5 years,Number,Total,Slovakia
8,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.SK,Annual – China – Age reached during the year –...,2021,2021-01-01,0.0,0.0,...,NR,T,SK,Annual,China,Age reached during the year,Less than 5 years,Number,Total,Slovakia
9,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.SK,Annual – China – Age reached during the year –...,2022,2022-01-01,0.0,0.0,...,NR,T,SK,Annual,China,Age reached during the year,Less than 5 years,Number,Total,Slovakia
0,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.REACH.Y_LT5.NR.T.US,Annual – China – Age reached during the year –...,2004,2004-01-01,7474.0,7474.0,...,NR,T,US,Annual,China,Age reached during the year,Less than 5 years,Number,Total,United States

In [21]:
# all data is reported in annual frequency
print(total["@frequency"].value_counts())

# origianl time
print(total["original_period"].value_counts())

@frequency
annual    14008
Name: count, dtype: int64
original_period
2018    1040
2017    1006
2019     987
2014     983
2016     983
2020     963
2015     959
2013     923
2021     847
2022     727
2012     574
2010     539
2011     537
2008     523
2009     514
2007     472
2006     405
2005     355
2004     255
2002     135
2003     130
2001      44
1998      44
2000      42
1999      21
Name: count, dtype: int64

In [32]:
# check why 2018 has some many data points

# get a summary which countries are included in the data

total[total["original_period"] == "2018"]["geo"]

13    AT
9     BE
7     BG
15    CH
16    CZ
      ..
10    MK
13    NL
13    NO
8     SE
5     SK
Name: geo, Length: 1040, dtype: object

In [33]:
total[total["original_period"] == "2018"]["geo"].value_counts()

geo
BE    54
BG    54
FI    54
HR    54
ES    54
ME    54
LT    54
LU    54
IT    54
IS    54
NO    54
SE    54
MK    54
EE    28
AT    28
CH    28
CZ    28
DK    28
LV    28
LI    28
HU    28
NL    28
RO    28
SI    28
SK    28
UK     2
Name: count, dtype: int64

In [34]:
total[total["original_period"] == "2018" & total["geo"] == "BE"]

TypeError: Cannot perform 'rand_' with a dtyped [object] array and scalar of type [bool]

In [38]:
total[(total["original_period"] == "2018") & (total["geo"] == "BE") & (total["age"] == "TOTAL") & (total["series_name"].str.contains("completed"))]

,@frequency,provider_code,dataset_code,dataset_name,series_code,series_name,original_period,period,original_value,value,...,unit,sex,geo,Time frequency,Country of citizenship,Age definition,Age class,Unit of measure,Sex,Geopolitical entity (reporting)
9,annual,Eurostat,migr_imm1ctz,"Immigration by age group, sex and citizenship",A.CN.COMPLET.TOTAL.NR.T.BE,Annual – China – Age in completed years – Tota...,2018,2018-01-01,1471.0,1471.0,...,NR,T,BE,Annual,China,Age in completed years,Total,Number,Total,Belgium

In [40]:
total_clean = total[(total["age"] == "TOTAL") & (total["series_name"].str.contains("completed"))]

In [41]:
# provide a line plot for the data
import matplotlib.pyplot as plt

total_clean.plot(x='period', y='value', kind='line')
plt.xlabel('Period')
plt.ylabel('Value')
plt.title('Line Plot of Total Clean')
plt.show()

ModuleNotFoundError: No module named 'matplotlib'